#pop-upSpace{ padding-bottom:20px; border-bottom: 3px solid red; } .pop-sec1{ background-color:white; margin-top:50px; padding-top:50px padding-bottom:30px } #aboutdx { text-align: center; padding: 5px 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; width:100%; } #aboutdx img { width: 98%; height: auto; } #aboutdx h2 { font-size: 50px; text-shadow: 4px 4px 8px #000000; color: #fff; margin-top: -35px; } #aboutdx h3 { font-size: 18px; width: 60%; } #aboutdx{ border:2px solid white; border-radius:4px 4px 4px 4px; } .titlePostsdx{ color:white; background-color:rgb(0,0,0,0.8); width:100%;height:100%; font-size:18px; line-height:1.3em; } .text-explore{ font-size:20px; } .pop-up { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility: hidden; opacity: 0; z-index: 1000; } .pop-up:target { visibility: visible; opacity: 1; } .cvprofilebd2 img{ text-align:center; width:100%; height:11%; } .pop-up-content { margin: 10px auto; padding: 20px; background: #fff; border-radius: 5px; width: 90%; max-width: 900px; position: relative; transition: all 5s ease-in-out; text-align: justify; } .headerbd2 { display: flex; align-content: center; justify-content: space-between; padding: 20px 0; font-weight: bold; font-size: 20px; text-align: left; } .contentbd2 { padding-bottom: 10px; } .pop-up-content .contentbd2 { overflow: auto; max-height: 720px; height: 480px; } .contentbd2 h3 { font-weight: bold; } .contentbd2 ul { background-color:white; color:black; padding-left: 20px !important; padding-top: 0 !important; } body.pop-up-open { overflow: hidden; } .separate { display: flex; flex-direction: row; flex-wrap: wrap; } .cv-name { font-weight: bold; } .cv-name, .cv-area { width: 70%; text-align: left; } .cv-place, .cv-year { width: 28%; text-align: left; padding-left: 5px; } .cvdigitalbd2 { padding: 5px; background-color: #000; color: #fff; text-align: center; border-radius: 5px; } .cvdigitalbd2:hover { border: 1px solid #666; background-color: #fff; color: #000; } .cvpskillbd2{ color:black; } .headerbd2{ color:black; } .cvpsummarybd2 h3,p{ color:black; font-size:15px; } .hidden { display: none; } @media screen and (max-width:680px) { .cv-name, .cv-area, .cv-place, .cv-year { width: 100%; padding-left: 0; } } @media screen and (max-width:320px) { .pop-up-content .contentbd2 { max-height: 480px; height: 320px; } } @media screen and (max-width:240px) { .pop-up-content .contentbd2 { max-height: 320px; height: 240px; } } 
 .example {
 position: relative;
 padding: 0;
 width: 300px;
 display: block;
 cursor: pointer;
 overflow: hidden;
 }
 .content {
 opacity: 0;
 font-size: 40px;
 position: absolute;
 top: 0;
 left: 0;
 border-top:50px solid rgb(0,0,0,0.8);
 color: #1c87c9;
 background-color: rgba(200, 200, 200, 1.5);
 width: 300px;
 height: 300px;
 -webkit-transition: all 400ms ease-out;
 -moz-transition: all 400ms ease-out;
 -o-transition: all 400ms ease-out;
 -ms-transition: all 400ms ease-out;
 transition: all 400ms ease-out;
 text-align: center;
 }
.example img{width:300px;height:300px;}
 .example .content:hover {
 opacity: 1;
 }
 .example .content .text {
 height: 0;
 opacity: 1;
 transition-delay: 0s;
 transition-duration: 0.4s;
 }
 .example .content:hover .text {
 opacity: 1;
 transform: translateY(250px);
 -webkit-transform: translateY(250px);
 }

 .linebd{text-align:center;}
.linebd ul li{
list-style-type: none;
display:inline-block;}

#aboutdx .klikin{
color:white;}
